{% extends 'salas/base.html' %}

{% block content %}

<div class="container">

<div class="row">
<div class="panel" style="width: 25%;display: inline-block">

  <table class="table">
  <thead class="thead thead-danger">
    <tr>
      <th>Título</th>
      <th>Entrar</th>
    </tr>
  </thead>
  <div class="panel-body">
  <tbody>
   {% for sala in salas %}
    <tr>
      <th scope="row">{{sala.titulo}}</th>
      
      <td><a class="btn btn-default" href="{% url 'sala' pk=sala.pk %}">Entrar</a></td>
    </tr>
    {% endfor %}
  </tbody>


</table>
</div>


</div>
<a href="{% url 'sala_nova' %}"><button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nova Sala</button></a>

</div>

</div>
{% endblock content %}
